<!doctype html>
<html>
    <head>
        <title>Sockets</title>

        <!-- standard js libs -->
        <script type="text/javascript" src="/static/jquery.js"></script>
        <script type="text/javascript" src="/static/socket.io.js"></script>

        <!-- our main js and css -->
        <script type="text/javascript" src="/static/main.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/main.css" />

    </head>
    <body>
        <div class="container">
            <p>Hello sockets</p>
            <div id="target">
                <!-- messages we receive through sockets will be here -->
            </div>
        </div>
    </body>
</html>